/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 142; /*purple 250 - green 142 - blue 230 - pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color),  65%, 51%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 25%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 50%, 85%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --container-alter-color:hsl(220, 16%, 96%);
    --scrolll-bar-color:hsl(var(--hue-color), 12%, 95%);
    --scrolll-thumb-color:hsl(var(--hue-color), 12%, 80%);
    /* Box shadow */
    --box-shadow: 2px 3px 18px rgb(14 52 54 / 40%);
    
    /* --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scrolll-bar-color:hsl(var(--hue-color), 12%, 48%);
    --scrolll-thumb-color:hsl(var(--hue-color), 12%, 30%); */

     /*========== Font and typography ==========*/
    /* แบบอักษรและการพิมพ์ */
    --body-font:'Poppins', sans-serif ;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/*========== Variables Dark theme ==========*/
body.dark-theme{
/* 
    background-color: #333;
    color: #fff; */
  --first-color-second: hsl(var(--hue-color), 30%, 50%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 10%, 90%);
  --input-color: hsl(var(--hue-color), 29%, 9%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(233, 39%, 14%);
  --container-alter-color:hsl(220,30%, 20%);
  --scrolll-bar-color:hsl(var(--hue-color), 12%, 48%);
  --scrolll-thumb-color:hsl(var(--hue-color), 12%, 30%);
  --box-shadow: 2px 4px 20px hsl(var(--hue-color),  65%, 40%);
}
    /* Font size for large device */
    /* ขนาดตัวอักษรสำหรับอุปกรณ์ขนาดใหญ่ */
@media screen and (min-width: 968px) {
    :root {
            --big-font-size: 3rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
    }
}



/*========== Button Dark/Light ==========*/
.nav__btns{
    display: flex;
    align-items: center;
    /* color: #000000; */
}
.nav__account{
    /* background-color: #000000; */
    border:var(--first-color-second) ;
    color: var(--text-color);

}
.nav__account:hover {
    background-color:var(--container-color);
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}
/* =================== BASE =============== */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;

}
nav{
    margin-bottom: 2rem;
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    /* background-color:var(--body-color); */
    background-color: var(--container-color);
    /* overflow: hidden; */
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* =================== Reuseable CSS Classes =============== */
.section{
    padding: 2rem 0 4rem;
}

.section__title{
    font-size: var(--h1-font-size);

}

.section__subtitle{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
    color: var(--text-color-light);

}


.section__subtitle,.section__title
{
    text-align: center;
}


/* =================== Lay out =============== */
.container{
    max-width: 800px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    

}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    /* width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color); */
    /* display: block; */
    width: 100%;
    background: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    
}
.main{
    /* border: var(--first-color) solid 2px; */
    margin-top: 5rem;
}

/* --------------------------------------- */
.subtitle{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
    margin-left: 1rem;
}




/* ======================== nav ====================== */



.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo .bx{
    font-size: 24px;
    color:var(--first-color);
    background-color: var(--first-color);

}
/* ----------------------------------------- index ff ---------------- */
ul{
    display: flex;
    align-items: center;
}
li{
    display: flex;
    position: relative;
}
li a{
    padding: 150px;
}

.home__dropdown{
    position: absolute;
    display: block;
    background-color: var(--container-color);
    top: 100%;
    border-radius: 4px;
    width: auto;
    align-items: start;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    border: var(--first-color-lighter) solid;
    /* font-size: var(--small-font-size); */

}
/* .home__dropdown-data{
    font-size: var(--smaller-font-size);
    margin-left: 10px;
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
} */
.nav > li, .nav > a,  .nav > i , .home__dropdown-link > div{
    font-size: var(--normal-font-size);
    margin-left: 10px;
    font-family: var(--body-font);
    font-weight: var(--font-semi-bold);
}
.home__dropdown-link:hover .home__dropdown{
    opacity: 1;
    visibility: visible;
    transform: translateY(2px);
    
}
.navbar{
    display: flex;
}

.navbar a {
/* align-items: center; */
padding: 8px 17px;
color: var(--text-color);
font-size: var(--normal-font-size);
/* margin-left: 10px; */
font-family: var(--body-font);
/* font-size: 1rem; */
text-transform: uppercase;
font-weight: var(--font-semi-bold);
}
.navbar a:hover,.home__dropdown-link:hover{
    color: var(--first-color)
}
.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 80%; */
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: var(--box-shadow);
    /* margin-bottom: 99rem; */
    /* border: solid; */
  }

.nav__icon{
    height: 50px;
    width: auto;
}
.nav-bar > button {
    padding: 12px 28px;
    border: none;
    outline-width: 0;
    /* color: white; */
    border-radius: 24px;
    cursor: pointer;
    font-weight: 400;
    background-image: linear-gradient(
          120deg,
          hsl(192, 70%, 51%),
          hsl(136, 65%, 51%)
        );
    }
.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
      }
.hero-img-container {
    background-image: url('../images/bg-intro-desktop.svg');
    background-size:contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding-top: 20px;
      }
.hero-img-container > img {
    width: 600px;
    /* height: 450px; */
      }

.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    }
.hero-text-container > h1 {
        font-size: 70px;
        font-weight: 800;
        margin-bottom: 20px;
        color:var(--title-color);
        line-height: 1.1;
      }
      .hero-text-container > p {
        color: var(--text-color);
        margin-bottom: 15px;
        font-weight: 700;
      }
      .hero-text-container > button {
        padding: 12px 28px;
        border: none;
        outline-width: 0;
        color: var(--container-color);
        border-radius: 24px;
        cursor: pointer;
        font-weight: 400;
        background-image: linear-gradient(
          120deg,
          hsl(192, 70%, 51%),
          hsl(136, 65%, 51%)
        );
      }
.home__containter {
    background-color:var(--container-alter-color);
      }
      .why-us {
        padding-top: 10vh;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10vh;
        /* border: solid var(--first-color-alt) */
      }
      .why-us > h1 {
        font-size: 45px;
        font-weight: 800;
        margin-bottom: 20px;
        color:var(--title-color);
      }
      .why-us > p {
        color:var(--text-color-light);
        margin-bottom: 15px;
        font-weight: 700;
      }
      .features-section {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        /* align-items: flex-start; */
        /* grid-template-columns: repeat(2,1fr); */
        padding-bottom: 10vh;
      }

      .feature-item > img {
        width: 65px;
        margin-bottom: 5px;
        /* border: #000000; */
      }
      .feature-item > h1 {
        font-size: 25px;
        font-weight: 800;
        margin-bottom: 10px;
        color:var(--title-color);
      }
      .feature-item > p {
        color:var(--text-color-light);
        font-weight: 700;
      }
      .home__feature-img{
        border: var(--container-color) solid .25rem;
        border-radius: 50%;
      }
      .box {
        padding: 20px;
        background: var(--container-color);
        box-shadow: var(--box-shadow);
        text-align: center;
        border-radius: 2rem;
        border:solid var(--first-color-second);
        width: 35vh;
        height: 60vh;
    }
    
    .box .bx{
        padding: 10px;
        border-radius: 50%;
        background: var(--container-color);
        color: var(--first-color);
        font-size: 30px;
    }
       .box:hover{
        background: var(--input-color);
        color: var(--container-color);
        transition: 0.4s all linear;
        transform: translateY(-1rem);
    }    

      .blog-section {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10vh;
      }
      .article-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
      .blog-section > h1 {
        font-size: 45px;
        margin-left: 1.25rem;
        font-weight: 800;
        margin-bottom: 10px;
        color:var(--title-color);
      }
      .article {
        height: max-content;
        width: 250px;
        margin-top: 20px;
        margin-left: 15px;
        background-color:var(--container-color);
      }
      .article > img {
        width: 250px;
        height: 250px;
      }
      .content {
        padding: 15px;
      }
      .content > p {
        color:var(--text-color-light);
        font-weight: 400;
        font-size: 14px;
      }
      .content > h4 {
        color:var(--title-color);
        padding-bottom: 5px;
        padding-top: 5px;
      }

#menu-icon{
    font-size:24px;
    cursor: pointer;
    display: none;
}
#menu{
    display: none;
}
.nav__btn{
    
    padding: 8px 22px;
    background-color: var(--first-color);
    color: var(--container-color);
    border-radius: 5rem;
    /* border-radius: 50%; */
}
.nav__btn:hover{
    background: var(--input-color);
    color: var(--text-color);
}
.nav__img{
    width: 2.25vw;
}
.nav__acc-bg{
    background: var(--first-color);
    width:3.25vw;
    display: flex;
    justify-content: center;
    padding-top: .5rem;
    /* padding: ; */
    border-radius: 10rem;
    /* border-radius: 10%; */

}
/* ============================== log in ======================== */
.forgot__pasword{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    font-family: var(--body-font);
    color: var(--text-color-light);
}
.wave{
	position: absolute;
	bottom: -2;
	left: 0;
	height: 100%;
	z-index: -1;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.login__container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap :10rem;
    padding: 0 2rem;
    /* border: saddlebrown solid; */
}
/* .login__input{
    color: var(--text-color);
} */
.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
    /* border: solid; */
}

.img img{
	width: 500px;
}

.login-content form {
	width: 70%;
    /* border: solid sandybrown; */
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: var(--text-color);
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid var(--text-color-light);
    /* border: solid; */
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: var(--text-color-light);
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--text-color-light);
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 3px;
	background-color: var(--first-color);
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{ 
	color: var(--first-color);
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: var(--text-color);
	font-family: var(--body-font);
}

.input-div.pass{
	margin-bottom: 4px;
}

a{
	display: block;
	text-align: right;
	text-decoration: none;
	color:  var(--input-color);
	font-size: 0.9rem;
	transition: .3s;
}

a:hover{
	color:  var(--first-color);
}

.login__btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, var(--first-color-second), var(--first-color), var(--first-color-lighter));
	background-size: 200%;
	font-size: 1.2rem;
	color: var(--container-color);
	font-family: var(--body-font);
	font-size: var(--h3-font-size);
	font-weight: var(--font-medium);
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.login__btn:hover{
	background-position: right;
	color: var(--text-color);
	font-size: var(--h2-font-size);
	font-weight: var(--font-semi-bold);
}

/* /*============================= home ======================== */
.home{
    margin-top: 5rem;
    /* background: url(5.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    align-items: center;
}
.home__action{
    display: grid;
    grid-template-columns: repeat(2,minmax(1.75rem,auto));
    gap:1rem;
}
.home-text{
    padding-left: 35px;
}
.home-text h1{
    color: var(--bg-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.home__about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,auto));
    gap:2rem;
    padding: 2rem;
    background-color: var(--container-alter-color);
    /* border-radius:90px 90px 0px 0px; */
    padding-top:5rem ;
}
.home__aboutus{
    border: solid var(--first-color-alt);
    border-radius: 10%;
    /* display: flex;
    width: 120%; */
}
.home__about-img{
    height: 70%;
    padding: 2rem;
    align-items: center;
}
.sales{
    display: grid;
    grid-template-columns: repeat(5,minmax(240px,auto));
    gap: 2.4rem;

}

.btn{
    border-radius: .25rem;
    text-align: center;
}


      /*==================== FOOTER ====================*/
      .footer{
        /* padding-top: 2rem; */
        height: 10vh;
        /* border: solid; */
    }
    
    .footer__container{
        row-gap: 3.5rem;
        /* border: solid; */
        /* width: 100%; */
        /* grid-template-columns: repeat(3,1fr); */
    }
    
    .footer__bg{
        background-color: var(--first-color-second);
        padding: 2rem;
        display: flex;
        flex-direction: column;

        /* border: solid; */
    }
    
    .footer__title{
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-0-25);
    }
    
    .footer__subtitle{
        font-size: var(--small-font-size);
        color: var(--text-color-light);
        font-weight: var(--font-semi-bold);
    }
    
    .footer__links{
        display: flex;
        /* border: solid; */
        flex-direction: column;
        row-gap: 1rem;
    
    }
    .footer__link{
        border: solid;
        width: 3rem;
        height: 1rem;
    }
    
    .footer__link:hover{
        color: var(--first-color-lighter);
    }
    
    .footer__social{
        font-size: 1.25rem;
        margin-right: var(--mb-1-5);
    }

    .footer__social:hover{
        color: var(--first-color-lighter);
    }
    
    .footer__copy{
        font-size: var(--smaller-font-size);
        text-align: center;
        color: var(--text-color);
        margin-top: var(--mb-3);
    }
    
    .footer__title,.footer__subtitle,
    .footer__link,.footer__social{
        color: var(--container-color);
    }
    

/* ======================= with draw ============== */
.withdraw__img{
    width: 3rem;
    border-radius: 100%;
    justify-self: center;
    align-self: center;
}
.money-display{
    margin-top:var(--mb-1-5);
    width: 100%;
    text-align:center;
    height: auto;
    font-size: var(--normal-font-size);
    color: var(--text-color);
    font-family: var(--body-font);
    padding: .75rem 1rem 0.75rem;
    font-weight: var(--font-semi-bold);

}
#withdraw{
    display: flex;
    align-self: center;
}
.withdraw__box-acc{
    border-radius: 10%;
    margin: .25rem .5rem .25rem .5rem;
    background-color: var(--container-color);
    padding:.5rem .25rem;
    border-radius: .25rem;
    box-shadow: var(--box-shadow);
    /* transition: .3s; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* align-content: center; */
    /* border: solid black 1px; */
    /* justify-items: center; */
    
}
.withdraw__data{
    /* border: 2px solid black; */
    grid-template-rows: repeat(3,1fr);
    gap: 0.5rem ;
}

.withdraw__box-input{
    grid-template-rows: repeat(2,1fr);
}
.withdraw__container{
    
    /* border: solid var(--first-color-alt) .25rem; */
    width: 50%;
    margin-left: 25%;
    border: solid 3px var(--first-color);
    margin-top: var(--mb-0-25);
    border-radius: 0.25rem;
    padding: .75rem 1rem 0.75rem;
}
.withdraw__account:hover
,.withdraw__phone-box:hover
,.select__box:hover
,.select__input:hover
,.pay__box:hover{
    /* background-color: var(--input-color);*/
    /* border: var(--first-color) 1px ;  */
    cursor: pointer;
    background: var(--first-color);
    color: var(--container-color);
    transition: 0.4s all linear;
    /* transform: rotate(90deg); */
    transition: .3s;
}
.button__moneybox:hover{
    background-color: var(--input-color);
    border: none;
    color: var(--text-color);
}
.withdraw__account,.withdraw__phone-box{
    width: auto;
    text-align: center;
    font-family: var(--body-font);
    transition: .3s;

}
/* =================== button ================== */
.button__summit{
    border: solid 2px var(--first-color);
    margin-top: var(--mb-0-25);
    border-radius: 0.25rem;
    padding: .75rem 1rem 0.75rem;
    width: 100%;
    background-color: black;
    color: var(--input-color);
    font-family: var(--body-font);
    text-align: center;

}
.button__summit:hover{
    background-color: var(--first-color);
    /* border: none; */


}
.button__money{
    /* border: solid 2px black; */
    width: 100%;
    display: block;
    margin-left: 12%;
    /* align-items: center; */
    
}
.button__moneychoice{
    /* border: solid 2px black; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
    
}
.button__moneybox{
    width: 10rem;
    /* padding: auto; */
    color: var(--input-color);
    font-family: var(--body-font);
    font-size: var(--h3-font-size);
    padding: .75rem 0.5rem 0.75rem;
    background-color: var(--first-color);
    border: none;
    border-radius: 0.25rem;
    
    
}
.button__input{
    margin-top:var(--mb-1-5);
    width: 100%;
    text-align:center;
    height: auto;
    font-size: var(--normal-font-size);
    color: var(--input-color);
    font-family: var(--body-font);
    padding: .75rem 1rem 0.75rem;
}
/* =================== info ============== */
.info{
    font-size: var(--medium-font-size);
    font-weight: var(--font-semi-bold);
    font-family: var(--body-font);
}
.info__money-amount{
    color: var(--text-color);
}
.info_id-commit{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
}
.info__withdraw-code{
    text-align: right;
    color: var(--first-color);
    font-family: var(--body-font);
    font-size: var(--h2-font-size);
}
.info__money-withdraw{
    text-align: right;
    color: var(--first-color);
}

.info__money{
    text-align: start;
    color: var(--first-color);
}
/* ====================== confirm ============ */
.withdraw__data-comfirm{
        /* border: 2px solid black; */
        grid-template-rows: repeat(2,1fr);
        gap: 0.5rem;
}
    
.withdraw__amount{
    /* grid-template-columns: repeat(2,1fr); */
    width: 100%;
    border-radius: 10%;
    background-color: var(--container-color);
    padding:.5rem 1.5rem .5rem .5rem;
    border-radius: .25rem;
    grid-template-columns: repeat(2,1fr);
    /* border: solid black 1px; */
    margin-top: var(--mb-1);
    text-align: center;
    /* margin-right: 12%; */
}

.withdraw__box-acc-commit{
    border-radius: 10%;
    margin: .25rem .5rem .25rem .5rem;
    background-color: var(--container-color);
    border-radius: .25rem;
    box-shadow: var(--box-shadow);
    transition: .3s;
    grid-template-columns: repeat(2,1fr);
    /* border: solid black 1px; */ 
}
.button__phone{
    grid-template-columns: repeat(2,1fr);
}
.withdraw__phone{
    /* border: solid black 1px; */
    width: 100%;
    /* grid-template-columns: repeat(2,1fr); */
    text-align: center;
    
}
.withdraw__phone-box{
    border-radius: 10%;
    margin: .25rem .5rem .25rem .5rem;
    background-color: var(--container-color);
    border-radius: .25rem;
    box-shadow: var(--box-shadow);
    transition: .3s;
    width: 80%;
    padding: .5rem .25rem;
    text-align: center;
    margin-right: 12%;
    /* font-family: var(--body-font); */
    /* grid-template-columns: repeat(2,1fr); */
}
.withdraw__box-phone-commit{
    border-radius: 10%;
    margin: .25rem .5rem .25rem .5rem;
    background-color: var(--container-color);
    border-radius: .25rem;
    box-shadow: var(--box-shadow);
    transition: .3s;
    padding:.5rem 1.5rem .5rem .5rem;
    grid-template-columns: repeat(2,1fr);
    /* border: solid black 1px;  */
}


/* ================ Select Bank ============== */
.select__section
{
    width: 50%;
    margin-left: 25%;
    /* border: solid 2px blueviolet; */
    margin-top: var(--mb-0-25);
    border-radius: 0.25rem;
    padding: .75rem 1rem 0.75rem;
}
.select__box{
    border-radius: 10%;
    margin: .25rem .5rem .25rem .5rem;
    background-color: var(--container-color);
    padding:.5rem .25rem;
    border-radius: .25rem;
    /* box-shadow: var(--box-shadow); */
    border: solid 3px var(--first-color-lighter);
    transition: .3s;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: var(--text-color);
    /* border: none; */
}
.select__box img{
    width: 3rem;
    border-radius: 100%;
    justify-self: center;
    align-self: center;
}
.select__box div{
    text-align: left;
    /* border: solid 2px var(--first-color); */
    margin-top: var(--mb-0-75);
    font-size: var(--normal-font-size);
}
.select__container{
    border-radius: 10%;
    margin: .25rem .5rem .25rem .5rem;
    background-color: var(--container-alter-color);
    padding:.5rem .25rem;
    border-radius: .25rem;
    box-shadow: var(--box-shadow);
    border: solid var(--first-color-second) 5px;
    transition: .3s;
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    /* border: solid black 1px; */

}
.select__input{
    
    width: 100%;
    text-align:center;
    height: auto;
    color: var(--text-color);
    font-family: var(--body-font);
    padding:.5rem .25rem;
    border: gray solid 1px;
    border-radius: .25rem;
}

/* ==================== pay bill ==================== */
.pay__img{
    height: auto;
    width: 78px;

}

.pay__container{
    border-radius: 10%;
    margin: .25rem .5rem .25rem .5rem;
    background-color: var(--container-color);
    padding:.5rem .25rem;
    border-radius: .25rem;
    box-shadow: var(--box-shadow);
    transition: .3s;
     /* border: solid violet 1px; */

}
.pay__box{
    border-radius: 10%;
    margin: .25rem .5rem .25rem .5rem;
    background-color: var(--container-color);
    padding:.5rem .25rem;
    border-radius: .25rem;
    box-shadow: var(--box-shadow);
    transition: .3s;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* align-content: center; */
    border: none;
}
.pay__box-img
{
    align-items: center;

}
.pay__box-label{
    text-align: left;

}

/* ================== Receipt ================== */
.receipt{
    display: flex;
    align-items: center;
    /* border: solid; */
    justify-content: space-around;
}
.receipt__title{
    width: 70%;
    /* display: grid; */
    height: 40%;
    border-radius: 0.25rem;
    /* border: solid; */
    padding-top:var(--mb-1-5) ;
}
.receipt__topic{
    width: auto;
    /* border: solid; */
    height: auto;
    display: flex;
    justify-content: space-around;
}
.receipt__container{
    /* border: solid firebrick; */
    width: 50%;
    /* margin-left: 25%; */
    display: block;
    border-radius: 0.25rem;
    /* padding: 0rem 1rem 0.75rem; */
    grid-template-columns: repeat(1,1fr);
    row-gap: 0.5px;
    justify-content: space-around;
    border: solid var(--first-color-lighter) .25rem; 
    border-bottom: none;
    background-color: var(--container-color);
}


.receipt__logo{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.receipt__logo-img{
    width: auto;
    height: 5rem;
    /* align-items: center; */
}

.receipt__info{
    border-radius: 10%;
    /* margin: .25rem .5rem .25rem .5rem; */
    background-color: var(--container-color);
    padding:.5rem .25rem;
    border-radius: .25rem;
    /* box-shadow: 3px 5px 5px rgba(0, 0, 0, .5); */
    /* transition: .3s; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.receipt__icon{
    border-radius: 10%;
    /* margin: .25rem .5rem .25rem .5rem; */
    background-color: var(--container-color);
    /* padding:.5rem .25rem; */
    border-radius: .25rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.25rem;
    font-weight: var(--font-semi-bold);
    color: var(--first-color);
}
.receipt__grid2{
    /* grid-template-columns: repeat(2,1fr); */
    display: flex;
    justify-content: space-evenly;
    
}
.receipt__obj{
    margin-top: var(--mb-2);
    /* align-items: ; */
}
.receipt__data-topic{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}
.receipt__icon-time{
    font-size: 1.5rem;
    
}
.receipt__icon-success{
    color: greenyellow;
    font-weight: var(--font-semi-bold);
    font-size: var(--mb-1-5);
    padding-bottom: var(--mb-1-25);
}
.bill__sub{
    font-size: var(--small-font-size);
    /* border: solid; */

    font-family: var(--body-font);
    color: var(--text-color-light);
    
    width: 100%;
}

.receipt__withdraw-topic{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    font-size: var(--h3-font-size);
}
.receipt__sub-data{
    font-size: var(--font-medium);
    font-family: var(--body-font);
    color: var(--text-color-light);
    /* border: solid; */
    text-align: right;
    width: 100%;
}
.receipt__paper{
        /* border: solid firebrick; */
        width: 90%;
        border-radius: 0.25rem;
        
        border: solid var(--text-color-light) 1px; 
        border-bottom: none;
        background-color: var(--container-color);
}
.receipt__paper{
    /* border: solid firebrick; */
    width: 90%;
    border-radius: 0.25rem;
    

    background-color: var(--container-color);
}
.receipt__paper-set{
    /* border: solid firebrick; */
    width: 100%;
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-around;

    background-color: var(--container-color);
}
.receipt__content{
    width: 100%;
    padding-bottom: var(--mb-2);
    margin-top: var(--mb-2);
    border-bottom: solid var(--text-color-light) 1px; 
 /* border: solid firebrick; */
    margin-bottom: var(--mb-1);
    
}
.receipt__data-success{
    font-size: var(--h3-font-size);
}
.receipt__img-phone{
    height: 40px;
    width: auto;
    /* border: solid; */
    margin: 10%;
}

/* ====================== loan ====================== */
/* .loan__box:hover{
    background: var(--first-color);
    color: var(--container-color);
    transition: 0.4s all linear;
    transform: translateX(2px);
    transition: 1s;
} */
.loan__data{
    display: grid;
    grid-template-columns: repeat(2,minmax(20px,auto));
    gap: 1rem;
    align-items: center;
    border: #7d2ae8;
    
}
.loan__select{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 2.4rem;

}
.loan__box{
    /* padding: 10px; */
    border-radius: 50%;
    /* background: #f6f6fe; */
    color: var(--first-color);
    font-size: var(--normal-font-size);
    /* padding: 20px; */
    background: var(--frist-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 2rem;
}


/*==================== Loan ====================*/
.loan__section{
    padding: var(--mb-1);
    display: block;
    width: 100%;
    
}
.loan__container{
    display: grid;
    grid-template-columns: repeat(3,minmax(240px,auto));
    gap: 1rem;
    /* border: solid; */
    width: 100%;
}

.loan__header{
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    color: var(--first-color);
    font-size: var(--normal-font-size);
    background-color: var(--frist-color);
    box-shadow: var(--box-shadow);
    border-radius: 2rem;

}
.loan__topic{
    font-size: var(--h2-font-size);
    font-family: var(--body-font);
    margin-left: var(--mb-1-5);
}
.loan__content{
    padding: 10px;
    /* cursor: pointer; */
    width: 25rem;
    color: var(--first-color);
    font-size: var(--normal-font-size);
    background-color: var(--frist-color);
    /* box-shadow: var(--box-shadow); */
    border-radius: 2rem;

}
.loan__arrow,.loan__icon{
    font-size: 2rem;
    color: var(--first-color);
}
.loan__icon{
    margin-right: var(--mb-0-75);
    border-radius: 50%;
    background-color: var(--text-color-light);
    width: 3.5rem;
    height: 3rem;
}
.loan__arrow{
    margin-left: auto;
    transition: 1s;

}

.loan__list{
        font-size: var(--normal-font-size);
        background-color: var(--frist-color);
        box-shadow: var(--box-shadow);
        border-radius: 2rem;
    row-gap: .5rem;
    padding: 1rem;
}
.loan__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}.loan__title{
    font-size: var(--h3-font-size);
    display: flex;
    justify-content: space-between;
    /* margin-bottom: var(--mb-0-5); */
}
.loan__data{
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.circular-progress{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: conic-gradient( var(--frist-color) 3.6deg, var(--frist-color-light) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .25rem;
    margin-left: 0.75rem;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:var(--container-color);
}
.progress-value{
    position: relative;
    font-size: var(--normal-font-size);
    font-weight: 600;
    color: #7d2ae8;
}


.loan__close .loan__list{
    height: 0;
    visibility: hidden;
    /* margin-bottom: var(--mb-1-5); */
    padding-bottom: var(--mb-1-5);
    transform: translateY(-2rem);
    /* transition-delay: 0.4s; */
    transition: 0.4s;
}
.loan__open .loan__list{
    visibility:visible;
    margin-bottom: var(--mb-1-5);
    transform: translateY(1rem);
    transition-delay: 1s;
    transition: 1s;
}
.loan__open .loan__arrow{
    transform: rotate(-180deg);

}
#loan__APA{
    /* border: saddlebrown solid; */
    /* width: 3rem; */
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    font-family: var(--body-font);
}
.loan__data2{
    border: solid;
    display: flex;
    /* grid-template-columns: repeat(2,140px); */
    row-gap: .5rem;
    padding: 1rem;
    margin-top: 1.25rem;
    box-shadow: var(--box-shadow);
    border-radius: 2rem;
}

/*==================== SERVICES ====================*/
.services__container{
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.services__content{
    position: relative;
    background-color: var(--container-alter-color);
    padding: 3.5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: var(--box-shadow);
    transition: .3s;
}

.services__content:hover{
    box-shadow: var(--box-shadow);
}

.services__icon{
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);

}

.services__button{
    cursor: pointer;
    font-size: var(--normal-font-size);
    text-align: center;
    /* border: solid; */
    border-radius: 20%;
    border-radius: 10px;
    background-color: var(--first-color-lighter);
}

.services__button:hover 
.button__icon{
    transform: translateX(1rem);
    transition: 1s;
    color: #7d2ae8;
}

.services__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--mb-0-25);
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}


.services__modal-content{
    position: relative;
    background-color: var(--container-color);
    width: 70%;
    height: auto;
    padding: 1.5rem;
    border-radius: .5rem;
}

.services__modal-services{
    row-gap: 1rem;
}

.services__modal-service{
    display: flex;
}

.services__modal-title{
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
    
}

.services__modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;

}

/* Active Modal */
.active-modal{
    opacity: 1;
    visibility: visible;
}
.loan-form {
    width: 400px;
    margin: 0 auto;
  }
  .loan-form label {
    display: block;
    margin-bottom: 10px;
  }
  .loan-form input[type="range"] {
    width: 100%;
    margin-bottom: 10px;
  }
  .loan-form .range-value {
    margin-bottom: 10px;
    font-weight: bold;
  }
  .loan-form button {
    padding: 10px 20px;
  }
  /* ======================== History ============================ */
  .his__bg{
    /* border: solid ; */
    display: flex;
    justify-content: space-around;
  }
  .his__container{
    border-radius: 10%;
    background-color: var(--container-alter-color);
    padding:.5rem .25rem;
    border-radius: .25rem;
    display: grid;
    width: 1000px;
    border: outset .5rem var(--first-color-second);
  }
  .his__box{
    border-radius: 10%;
    margin: .25rem .5rem .25rem .5rem;
    background-color: var(--container-color);
    padding:.5rem .25rem;
    border-radius: .25rem;
    /* box-shadow: var(--box-shadow); */
    transition: .3s;
    display: grid;
    grid-template-columns: repeat(5,1fr);
  }

  .his__box-data{
    text-align: center;
    /* border: solid 2px var(--first-color); */
    margin-top: var(--mb-0-75);
    font-size: var(--normal-font-size);
  }