@import url(https://fonts.googleapis.com/css2?family=Kanit&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

:root 
{
    --main-color:#2288ff;
    --second-color:#192f6a;
    --text-color:#314862;
    --bg-color:#fff;


/* Box shadow */
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);

}

img
{
    width: 100%;
}

body 
{
    
    color:#314862;

}

section{
    padding:  4.5rem 0 3rem;
}
.container
{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

hearder
{
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo .bx{
    font-size: 24px;
    color:#2288ff
}
ul{
    display: flex;
    align-items: center;
}
li{
    display: flex;
    position: relative;
}
li a{
    padding: 150px;
}

.dropdown{
    position: absolute;
    display: block;
    background-color: #fff;
    top: 120%;
    border-radius: 4px;
    width: 200px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
li a i{
    font-size: 12px;
    margin-left: 10px;
}
.dropdown-link:hover .dropdown{
    opacity: 1;
    visibility: visible;
}

.navbar{
    display: flex;
}

.navbar a{
align-items: f;
padding: 8px 17px;
color: var(--text-color);
font-size: 1rem;
text-transform: uppercase;
font-weight: 500;
}
.navbar a:hover{
    color: #2288ff
}

#menu-icon{
    font-size:24px;
    cursor: pointer;
    display: none;
}
#menu{
    display: none;
}
.btn{
    
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}
.btn:hover{
    background: var(#3492fd);
}

/*homne*/
.home{
    margin-top: 5rem;
    background: url(../../5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    align-items: center;
}
.home-text{
    padding-left: 35px;
}
.home-text h1{
    color: var(--bg-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,auto));
    gap:2rem;

}
.about-img img{
    border-radius: 3rem 0 3rem 3rem;
}
.about-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-color);
}

.about-text h2{
    font-size: 1.7rem;
}

.about-text p{
    font-size: 0,938rem;
    margin: 1rem 0 1rem;
}
.sales{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 2.4rem;

}
.sales .box{
    padding: 20px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 2rem;
}

.sales .box:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.4s all linear;
}

.sales .box .bx{
    padding: 10px;
    border-radius: 50%;
    background: #f6f6fe;
    color: var(--main-color);
    font-size: 20px;
}
.login{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    min-height: 85vh;

}
.login-container{
   display: flex;
   flex-direction: column; 
   row-gap: 1rem;
}
.login-container h2{
    font-size: 1.4rem;
}
.login-container p{
    font-size: 0.9rem;
}
.login-container form{
    display: flex;
    flex-direction: column;
}
.login-container form span{
    font-size: 0.9rem;
    color:#8a8a8a;
    margin-bottom: 4px;
}
.login-container form input{
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 10px;
    border-radius: .25rem;
    margin-bottom: 1rem;
    margin-bottom:1rem;
    background: var(--bg-color);
} 
.login-container form .buttom{
    outline: none;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 0.85rem;
    font-weight: 500;
}  
.login-container form .buttom:hover{
    background: #3492fd;
}
.name{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.rem;
}
.gender-option{
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.login-container form a{
    font-size: 0.9rem;
    text-align: right;

}
.login-container .btn{
    border-radius: .25rem;
    text-align: center;
}

.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);

}
.heading h2{
    font-size: 1.7rem;
    margin-bottom: 2rem;
}
.heading h1{
    font-size: 1.7rem;
    margin-bottom: 2rem;

}
.heading p{
    font-size: 0.938rem;
}
.properties{
    background: #fbfbfb;
    border-radius: 2rem;
}
.properties-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, auto));
    gap: 3rem;
    padding: 0 50px;
}
.properties-container .box{
    background: var(--bg-color);
    padding: 10px;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}
.properties-container .box:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.properties-container .box img{
    border-radius: 1rem;
    height: 220px;
    object-fit: cover;
}
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 27%;
    max-width: 900px;   
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    justify-content: center;
    margin-top: 4%;
    
  }
  .profile-card-box{
    margin-left: 1rem;
    align-items: center;
    padding: auto;
    width: 100%;
   
  }
  .profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 25%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #041a5e;
  }
  .userimage {
    align-items: center;
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 2px;
    margin-bottom: 10px;
    transform: translateY(40%);
  }
  .userimage .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  .profile-card .text-data {
    align-items: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    color: #000000;
  }

.total-money{

    width: 100%;
}
  .profile-card .text-data-box {
    display: flex;
    align-items: left;


  }
  .text-data-box .fullname{
    margin-top: 5rem;
    font-size: 22px;
  }
  .text-data-total .money{
    color: #0e4bf1;
  }
  .text-data-total{
    font-size: 22px;
    margin-top: 1rem;
  }
  .text-data-total-bank{
    font-size: 22px;
  }
  .bank-account{
    font-size: 22px;
    font-weight: 500;
    margin-top: 1rem;
    
  }
  .profile-card .buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 25px;
  }
  .buttons .button {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    
  }
  .buttons .button:hover {
    background-color: #0e4bf1;
  }
  .profile-card .analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  .analytics .data {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
  }
  .data i {
    font-size: 18px;
    margin-right: 6px;
  }
  .data:last-child {
    border-right: none;
  }
.select-box{
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 10px;
    margin-bottom: 1rem;
    margin-bottom:1rem;
    background: var(--bg-color);
}
.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #8a8a8a;
    font-size: 0.9rem;
}
.bank-account{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: left;
    width: 100%;
}
.bank-id{
    text-align: right;
}
.login-page-signup{
    margin-bottom: 1rem;
    
}
