@import url(https://fonts.googleapis.com/css2?family=Kanit&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

:root 
{
    --main-color:#2288ff;
    --second-color:#192f6a;
    --text-color:#314862;
    --bg-color:#fff;


/* Box shadow */
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);

}

img
{
    width: 100%;
}

body 
{
    
    color:#314862;

}

section{
    padding:  4.5rem 0 3rem;
}
.container
{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

hearder
{
    display: block;
    width: 100%;
    background: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo .bx{
    font-size: 24px;
    color:#2288ff
}

.navbar{
    display: flex;
}

.navbar a{
padding: 8px 17px;
color: var(--text-color);
font-size: 1rem;
text-transform: uppercase;
font-weight: 500;
}
.navbar a:hover{
    color: #2288ff
}

#menu-icon{
    font-size:24px;
    cursor: pointer;
    display: none;
}
#menu{
    display: none;
}
.btn{
    padding: 8px 22px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 5rem;
}
.btn:hover{
    background: var(#3492fd);
}

/*homne*/
.home{
    margin-top: 5rem;
    background: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    align-items: center;
}
.home-text{
    padding-left: 35px;
}
.home-text h1{
    color: var(--bg-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,auto));
    gap:2rem;

}
.about-img img{
    border-radius: 3rem 0 3rem 3rem;
}
.about-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--main-color);
}

.about-text h2{
    font-size: 1.7rem;
}

.about-text p{
    font-size: 0,938rem;
    margin: 1rem 0 1rem;
}
.sales{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 2.4rem;

}
.sales .box{
    padding: 20px;
    background: var(--bg-color);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 2rem;
}

.sales .box:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.4s all linear;
    transform: rotate(36000deg);
    transition: 5s;

}

.sales .box .bx{
    padding: 10px;
    border-radius: 50%;
    background: #f6f6fe;
    color: var(--main-color);
    font-size: 20px;
}
.login{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    min-height: 85vh;

}
.login-container{
   display: flex;
   flex-direction: column; 
   row-gap: 1rem;
}
.login-container h2{
    font-size: 1.4rem;
}
.login-container p{
    font-size: 0.9rem;
}
.login-container form{
    display: flex;
    flex-direction: column;
}
.login-container form span{
    font-size: 0.9rem;
    color:#8a8a8a;
    margin-bottom: 4px;
}
.login-container form input{
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 10px;
    margin-bottom: 1rem;
    margin-bottom:1rem;
    background: var(--bg-color);
} 
.login-container form .buttom{
    outline: none;
    border: none;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 0.85rem;
    font-weight: 500;
}  
.login-container form .buttom:hover{
    background: #3492fd;
}
.name{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
}
.gender-option{
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.login-container form a{
    font-size: 0.9rem;
    text-align: right;

}
.login-container .btn{
    border-radius: 0;
    text-align: center;
}

.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    color: var(--main-color);

}
.heading h2{
    font-size: 1.7rem;
}
.heading p{
    font-size: 0.938rem;
}
.properties{
    background: #fbfbfb;
    border-radius: 2rem;
}
/*.card {
    width: 1050px;
    height: 800px;
    position: relative;
    border-radius: 25px;
    background: #fff;
    background-position: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),0 6px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    
}
.cover{
    width: 100%;
}

.container .avatar{
    position: absolute;
    
    background: #fff;
}
.container .profile{
    position: absolute;
    bottom: 0;
   
}
.content{
    position: absolute;
    bottom: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}
.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img{
    width: 100%;
}*/

.profile-card {
    margin: 100px 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;   
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    justify-content: center;
    
  }
  .profile-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #4070f4;
  }
  .image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
  }
  .image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  .profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
  }
  .text-data .job1 {
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    background: #FFFFFF;
    box-sizing: border-box;;
    position: absolute;
    width: 350px;
    height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    
    

  }
  
   .text-data .job {
    font-size: 15px;
    font-weight: 400;
  }
  .profile-card .media-buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  .media-buttons .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: #4070f4;
    text-decoration: none;
  }
  .profile-card .buttons {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  .buttons .button {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .buttons .button:hover {
    background-color: #0e4bf1;
  }
  .profile-card .analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;
  }
  .analytics .data {
    display: flex;
    align-items: center;
    color: #333;
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
  }
  .data i {
    font-size: 18px;
    margin-right: 6px;
  }
  .data:last-child {
    border-right: none;
  }
.select-box{
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 10px;
    margin-bottom: 1rem;
    margin-bottom:1rem;
    background: var(--bg-color);
}
.select-box select{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #8a8a8a;
    font-size: 1rem;
}
